@model TipoCuenta

@{
    ViewData["Title"] = "Borrar tipo cuenta";
}

<div class="container text-center">

    <h1>Borrar tipo cuenta: @Model.Nombre </h1>

    <h4 class="m-3">¿Está seguro de que desea borrar la cuenta?</h4>

    <form asp-action="BorrarTipoCuenta">
        <input class="m-3" type="hidden" asp-for="idTipoCuenta" />
        <button type="submit" class="btn btn-danger me-3">Eliminar</button>
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>